.navbar-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-block: 15px;
    border-bottom: 1px solid #ebebeb;
    place-items: center;
}

.logo {
    justify-self: start;
    padding-left: 35px;
}

.logo-icon {
    max-width: 50px;
    max-height: 50px;
}

.datepicker {
    align-self: center;
    justify-self: center;
}

.navlinks {
    justify-self: end;
    padding-right: 25px;
    color: rgb(149, 147, 147);
}

.navlinks a{
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.navlinks .activeLink {
    font-weight: 800;
    color: black;
}