.res__card {
    display: grid;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* grid-template-rows: 25vh 25vh; */
    place-items: center;
    border-radius: 25px;
    width: 90%;
    /* max-width: 400px; */
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1);
    }

.res__dates {
    font-size: 90%;
}

.res__button {
    border-radius: 6px;
    
}

.res__button:hover {
    background-color: rgba(255, 0, 0, 0.195);
}
